.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.icon-action {
  background: red;
  // border-radius: 50%;
  color: #000;
  height: 3rem;
  width: 3rem;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-action:hover {
  color: #fff;
  background: #000;
}