.restaurant-list-item {
  position: relative;
}
.restaurant-list-item .icon-action {
  background: none;
  bottom: $s-size;
  position: absolute;
  right: $s-size;
  &:hover {
    background: $dark-blue;
  }
}
//TODO:
.highlighted-restaurant {
  background: green;
  color: #fff;
}
.highlighted-restaurant:hover {
  background: green;
  color: #fff;
}